body {
    margin: 0;
    padding: 0;
    color: var(--gray-color);
    font-family: Verdana, Tahoma, sans-serif;
    background-color: var(--primary-color);
}

.outer-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    align-items: center;
}

.tile {
    width: 100%;
    background-color: var(--gray-color);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    color: var(--primary-color);
}

.tile p {
    width: 81.5%;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.tile div {
    display: flex;
    justify-content: flex-start;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.5s;
    transform: scale(1.03);
    box-shadow: 0 0 20px var(--lightGray-color);

}

.tile:hover img {
    animation: pulse 1s infinite;
    animation-timing-function: linear;

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1)
        }

        ;

        100% {
            transform: scale(1);
        }
    }
}


.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
    border: var(--gray-color) 2px solid;
    box-shadow: 0 0 20px var(--lightGray-color);
}

.image-container img {
    height: 100%;
}

.links-icon {
    margin: 10px 10px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-icon img {
    width: 35px;
    height: 35px;

}

.bio {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.footer-paragraph {
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 17px;
}